
venv/
env/
ENV/
.venv/
.ENV/
*.env
*.env.*
__pycache__/
*.py[cod]
*$py.class
*.log
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
